.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    background-color: #333;
    color: #fff;
}
